*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
   height: 5000px;
   background-color: rgb(255, 252, 255);
}
.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 20px;
   background-color: rgb(199, 81, 179);
   border-bottom: 1px solid #e0e0e0;
}
a :hover  {
   background-color: aliceblue;
}

.navbar .logo {
   display: flex;
   align-items: center;
}
.navbar .logo img {
   height: 30px;
   margin-right: 10px;
}
.navbar .logo span {
   font-size: 24px;
   font-weight: bold;
   color: #000;
}
.navbar .menu {
   display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
}
.navbar .menu li {
   margin: 0 10px;
   position: relative;
}
.navbar .menu li a {
   text-decoration: none;
   color: #000;
   font-size: 19px;
}
.navbar .menu li a:hover {
   color: #5d428d;
   background-color: aliceblue;
   padding: 10px 10px 0px 10px;
}
.navbar .menu li .dropdown {
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
  
   font-size: 13px;
   background-color: white;
   border: 1px solid #e0e0e0;
   list-style: none;
   padding: 10px 0;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.navbar .menu li:hover .dropdown {
   display: block;
}
.navbar .menu li .dropdown li {
   padding: 5px 20px;
}
.navbar .menu li .dropdown li a {
   font-size: 10px;
   color: #000;
}
.navbar .menu li .dropdown li a:hover {
   color: rgb(182, 48, 43);
   background:none;
   font-size: 15px;
}
.navbar .button {
   background-color:rgb(94, 94, 105);
   color: white;
   padding: 10px 30px;
   border-radius: 5px;
   text-decoration: none;
   font-size: 19px;
}
.navbar .button:hover {
   background-color: yellow;
}